@charset "UTF-8";
/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/***************** GENERAL **********************/
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(45deg, #32465c, #334152);
  color: white;
  overflow-x: hidden;
  font-family: 'Lobster', cursive;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  padding-top: 0.5em;
  font-family: 'Lobster', cursive;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  h1 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 3em;
  }
}

/***************** MENU **********************/
.navigation {
  background-image: linear-gradient(45deg, #3E5671, #4D637C);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25%;
  z-index: 1;
  padding: 8px;
  box-shadow: 2px 0 20px grey;
}

.navigation .menu {
  list-style-type: none;
  font-size: 2.5em;
}

.navigation .menu li {
  padding-bottom: 1em;
}

.navigation .menu li a {
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  color: #88c4ec;
  font-size: 1.3em;
  text-align: right;
  margin-right: 0.2em;
  display: block;
}

.navigation .menu li:hover {
  filter: drop-shadow(0px 0px 10px #88c4ec);
}

.logo-icon img {
  display: block;
  margin: 0 auto;
}

.logo-icon:hover {
  filter: drop-shadow(0px 0px 10px #6abb7c);
}

.logo-icon span {
  background-image: linear-gradient(45deg, #6abb7c, #35a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
}

.logo-icon a {
  text-decoration: none;
  text-align: center;
  display: block;
}

hr.separateur {
  border-top: 5px solid #bbb;
  border-radius: 5px;
  border-style: dashed;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  .navigation {
    width: 100vw;
    height: 15%;
    z-index: 1;
    padding: 0px;
    box-shadow: 2px 0 20px grey;
  }
  .navigation .menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 1%;
    width: 100%;
  }
  .navigation .menu li {
    padding-bottom: 0;
    display: inline;
  }
  .navigation .menu li a {
    color: #88c4ec;
    margin-top: 4.5em;
    margin-left: 3.5em;
    font-family: 'Lobster', cursive;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  .navigation .menu li:hover {
    filter: drop-shadow(0px 0px 10px #88c4ec);
  }
  .logo-icon img {
    width: 17%;
  }
  .logo-icon span {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
  }
  hr.separateur {
    display: none;
  }
}

/* Page Accueil
--------------------------------------------- */
/***************** ENTETE **********************/
.entete {
  background-image: linear-gradient(45deg, #3E5671, #4D637C);
  height: 100vh;
}

.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nom {
  background-image: linear-gradient(45deg, #6abb7c, #35a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
  margin: 0;
  margin-bottom: -0.25em;
  margin-left: 30vw;
  padding-top: 3.5em;
}

.slogan {
  background-image: linear-gradient(45deg, #6abb7c, #35a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  margin-right: 6vw;
}

.suivant {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 90px;
  border-radius: 10%;
  line-height: 50px;
  color: #35a0da;
  font-size: 10em;
  transition: 0.5s;
}

.suivant:hover {
  color: #6abb7c;
  transform: translateX(10px);
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  .logo {
    top: 25%;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
  }
  .nom {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin: 0;
    display: block;
    margin: 0 auto;
    padding-top: 7.5em;
  }
  .slogan {
    font-size: 2.5em;
    text-align: center;
    display: block;
  }
  .suivant {
    right: 160px;
  }
}

/* Page Portfolio
--------------------------------------------- */
/***************** PORTFOLIO **********************/
.portfolio {
  margin-left: 25vw;
}

/***************** DIAPORAMA **********************/
.diaporama {
  height: 100vh;
}

.d1 {
  width: 74vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fondu 50s ease-in-out infinite both;
}

@keyframes fondu {
  0% {
    background-image: url("../img/Axe.jpeg");
  }
  20% {
    background-image: url("../img/gaunglet_knight_all.jpg");
  }
  40% {
    background-image: url("../img/Preston_close.png");
  }
  60% {
    background-image: url("../img/test2.jpg");
  }
  80% {
    background-image: url("../img/camp_fire.png");
  }
  100% {
    background-image: url("../img/Axe.jpeg");
  }
}

/***************** MOSAIQUE **********************/
.mosaique {
  padding: 0.5em;
  height: 100vh;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  .portfolio {
    margin-left: 0;
    width: 100vw;
  }
  /***************** DIAPORAMA **********************/
  .d1 {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fondu 50s ease-in-out infinite both;
  }
  @keyframes fondu {
    0% {
      background-image: url("../img/camp_fire_mobile.png");
    }
    25% {
      background-image: url("../img/Affiche_Finale_Mobile.png");
    }
    75% {
      background-image: url("../img/Axe_mobile.png");
    }
    100% {
      background-image: url("../img/camp_fire_mobile.png");
    }
  }
  /***************** MOSAIQUE **********************/
  .mosaique {
    padding: 0.5em;
    height: 220vh;
  }
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  transform: translate3d(0, -100%, 0);
}

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom: 50%;
  transform: translate3d(0, 100%, 0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p {
  transform: translate3d(0, 0, 0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%;
  }
  .hex {
    width: 20%;
    /* = 100 / 5 */
  }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%;
  }
  .hex {
    width: 25%;
    /* = 100 / 4 */
  }
  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%;
  }
  .hex {
    width: 33.333%;
    /* = 100 / 3 */
  }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%;
    padding-left: 0px;
  }
  .hex {
    width: 50%;
    /* = 100 / 3 */
  }
  .hex:nth-child(3n+3) {
    /* first hexagon of even rows */
    margin-left: 25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}

/***************** À PROPOS **********************/
.aPropos {
  height: 100vh;
  margin-left: 26vw;
  font-family: Arial, Helvetica, sans-serif;
}

.aPropos section {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

.aPropos section div {
  width: 23vw;
  font-size: 1.28em;
  background-color: #455C76;
  border-radius: 3%;
  padding: 10px;
  box-shadow: 0 0 5px 5px cadetblue;
}

.photoProfil {
  width: 200px;
  padding-bottom: 0.5em;
}

.aPropos h4 {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}

.aPropos img {
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  .aPropos {
    height: 100vh;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .aPropos .scrolling-wrapper {
    width: 290vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
  }
  .aPropos .scrolling-wrapper .card {
    display: inline-block;
    width: 90vw;
    height: 60vh;
  }
  .photoProfil {
    width: 100px;
    padding-bottom: 0.5em;
  }
}

/***************** CONTACT **********************/
.contact {
  height: 95vh;
  margin-left: 26vw;
}

.infos > img {
  width: 70px;
  margin-left: 2vw;
}

.infos > span {
  font-size: 2em;
  width: fit-content;
  display: inline-block;
  margin-left: 1.5vw;
}

.formulaire {
  display: block;
  width: 50vw;
  margin: 0 auto 3vh auto;
}

.info_mobile {
  display: none;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  .contact {
    height: 95vh;
    margin-left: 0;
  }
  .infos {
    display: none;
  }
  .infos img {
    width: 70px;
    margin-left: 2vw;
  }
  .infos span {
    font-size: 2em;
    width: fit-content;
    display: inline-block;
    margin-left: 1.5vw;
  }
  .formulaire {
    display: block;
    width: 90vw;
    margin: 0 auto 3vh auto;
  }
  .info_mobile {
    display: block;
  }
  .info_mobile div img {
    display: inline-block;
    margin: 0 2.85em 2em 2.85em;
    width: 50px;
  }
}

/***************** FOOTER **********************/
footer {
  height: 50px;
  margin-left: 26vw;
}

footer p {
  margin: 0;
  text-align: center;
}

/*****************************************************************************/
/*************************   STYLE MOBILE   **********************************/
/*****************************************************************************/
@media (max-width: 520px) {
  footer {
    height: 50px;
    margin-left: 0;
  }
}
