/***************** À PROPOS **********************/
.aPropos{
    // background-color: rgb(14, 92, 95);
    height: 100vh;
    margin-left: 26vw;
    font-family: Arial, Helvetica, sans-serif;
}

.aPropos img{
    display: block;
    margin: 0 auto;  
}

.desc{
    display: inline-block;
    background-color: royalblue;
    width: 23.75vw;
    font-size: 1.6em;
}
.interets{
    display: inline-block;
    background-color: rgb(28, 55, 134);
    width: 23.75vw;
    font-size: 1.6em;
}
.competences{
    display: inline-block;
    background-color: rgb(49, 71, 139);
    width: 23.75vw;
    font-size: 1.6em;
}