/***************** MENU **********************/
.navigation{
    background-image: linear-gradient(45deg, #3E5671, #4D637C);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 25%;
    z-index: 1;
    padding: 8px;
    box-shadow: 2px 0 20px grey;

    
}

ul.menu {
    list-style-type: none;
    font-size: 3em;   
}

ul.menu > li {
 padding-bottom: 1em;
}

ul.menu > li > a {
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-align: left;
    display: block;
}

.logo-icon > a >img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

hr.separateur {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }